.projects h3 {
font-size: 20px;
text-decoration: none;
text-shadow: 2px 2px 5px #90e0ef;
font-family: 'Big Shoulders Stencil Text', cursive;
}

@keyframes project {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.589);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }
}

.proj:hover {
    animation: project 2s infinite;
}

.skills {
    color:rgb(53, 255, 17);
    text-align: center;
}

.repskills {
    align-items: center;
}

.describe {
    width: 50%;
    margin: 20px auto;
    text-align: center;
}

.whatsapp {
    max-width: 100%;
    height: auto;
}


@media screen and (max-width: 1020px) {
    .describe {
        width: 80%;
        font-size: medium;
    }
}
