.foot {
    background-color: #fff2f2;
    color: rgb(105, 105, 105);
    font-family: "Merienda", sans-serif;
}

.footerRow1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}


.footerRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem 0 2rem;
}

.footerA {
    margin: 0 0 1rem 0;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    order: 1;
}

.footerLogo {
    display: flex;
    align-self: center;
    justify-content: center;
    order: 2;
}

.footerB {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
    order: 3;
  }

.footerB a {
  text-decoration: none;
  color: #ff8dab;
  margin: 0 auto 1rem auto;
}

  .contact {
    padding: 1rem;
    margin: 0;
    font-size: 2.5rem;
    font-family: "Yeseva One", serif;
  }

  .address {
    display: flex;
    flex-direction: column;
    align-items: center;
  }



  .socials {
    padding: 1rem;
  }

  .socialLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }


  @media (max-width: 675px) {
    .footerLogo {
      display: none;
    }

    .footerRow {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .footerA {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      order: 2;
    }

    .footerB {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      order: 1;
    }
  }