@keyframes animated-border {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.589);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }
}

#versed:hover {
    box-shadow: 0 0 6px 6px rgba(114, 215, 255, 0.5);
    animation: animated-border 2s infinite;
}

.margin {
    margin-top: 100px;
    text-align: center;
}

.welcomeLoad {
    animation: fadeIn;
}

.info {
    color: rgb(0, 0, 0);
    font-family: 'Wix Madefor Display', monospace;
    align-content: center;
    background: rgb(233,120,143);
    background: radial-gradient(circle, rgba(233,120,143,1) 55%, rgba(99,102,115,1) 100%);
    border-radius: 10%;
    margin: 0 25%;
}

.welcomep {
    max-width: 75%;
    padding: 0 20px;
    margin: auto;
}

.centerImage {
    max-width: 50%;
    padding: 1px;
    border: 3px solid  rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgb(255, 139, 139);
}

.name {
    margin-bottom: 100px;
    justify-content: center;
  }

@media screen and (max-width: 1020px) {
    .welcomep {
        z-index: 0;
        width: 50%;
        padding: 0 20px;
    }
}