.margin {
    margin-top: 10px;
    margin-bottom: 100px;
}

h2 {
    color: rgb(0, 0, 0);
    font-family: 'Wix Madefor Display', monospace;
    justify-content: center;
    display: flex;
}

div.bg-color {
    padding: 25px 10px 25px 10px;
}