.foot {
    display: flex; 
    justify-content: left; 
    padding: 10px;
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100%;
}

@media screen and (max-width: 1020px) {
    .foot{
    display: none;
    }
}